# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.*.local
.venv

# Coverage directory
coverage/

# Dependency directories
bower_components/

# Build and runtime artifacts
dist/
build/

# IDE and editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Typescript cache
*.tsbuildinfo

venv
__pycache